Repository goldcaddy77/warthog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

feat(base-model): update so that we don't require warthog decorators
  examples/14-base-service-v2/.env
  examples/14-base-service-v2/README.md
  examples/14-base-service-v2/generated/binding.ts
  examples/14-base-service-v2/generated/classes.ts
  examples/14-base-service-v2/generated/index.ts
  examples/14-base-service-v2/generated/ormconfig.ts
  examples/14-base-service-v2/generated/schema.graphql
  examples/14-base-service-v2/package.json
  examples/14-base-service-v2/src/index.ts
  examples/14-base-service-v2/src/server.ts
  examples/14-base-service-v2/src/user.model.ts
  examples/14-base-service-v2/src/user.resolver.ts
  examples/14-base-service-v2/src/user.service.ts
  examples/14-base-service-v2/src/user.test.ts
  examples/14-base-service-v2/tools/seed.ts
  examples/14-base-service-v2/tsconfig.json
  examples/14-base-service-v2/warthog.config.js
  examples/14-base-service-v2/yarn.lock
  src/core/BaseService.ts
  src/core/CodeGenerator.ts
  src/core/index.ts
  src/core/server.ts
  src/decorators/UpdateDateField.ts
  src/decorators/index.ts
  src/metadata/metadata-storage.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
Due: eslint --fix, prettier --write, markdownlint

feat(relay): update connection pattern to conform to relay
  src/core/BaseModel.ts
  src/core/BaseService.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/__snapshots__/server.test.ts.snap
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/schema.graphql
  src/test/modules/dish/dish.resolver.ts
  src/tgql/PageInfo.ts
Due: eslint --fix, prettier --write

feat(relay): update connection pattern to conform to relay
  src/core/BaseService.ts
  src/test/functional/server.test.ts
Due: eslint --fix, prettier --write

feat(relay): continue work on relay and cursors
  package.json
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/core/index.ts
  src/test/setupFiles.ts
  src/test/setupFilesAfterEnv.ts
  src/tgql/PageInfo.ts
Due: eslint --fix, prettier --write

feat(relay): continue work on relay and cursors
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/core/encoding.ts
  src/test/functional/__snapshots__/server.test.ts.snap
  src/test/functional/server.test.ts
  src/test/modules/dish/dish.resolver.ts
Due: eslint --fix, prettier --write

feat(relay): continue work on relay and cursors
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/schema.graphql
  src/core/BaseService.ts
  src/core/GraphQLInfoService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/decorators/Fields.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/schema.graphql
  src/test/modules/dish/dish.resolver.ts
  src/tgql/PageInfo.ts
  src/utils/decoratorComposer.ts
Due: eslint --fix, prettier --write

wip
  README.md
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  src/cli/templates/generate/model.ts.ejs
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/core/encoding.ts
  src/test/functional/cli.test.ts
  src/test/functional/server.test.ts
  src/test/setupFiles.ts
  src/test/setupFilesAfterEnv.ts
Due: eslint --fix, prettier --write, markdownlint

fix(relay): fix tests
  README.md
  src/cli/templates/generate/model.ts.ejs
  src/core/BaseModel.ts
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/core/encoding.ts
  src/decorators/debug.ts
  src/decorators/index.ts
  src/utils/decoratorComposer.ts
Due: eslint --fix, prettier --write, markdownlint

feat(relay): getting closer
  src/core/BaseModel.ts
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
Due: eslint --fix, prettier --write

fix(codegen): fix prettier in generated classes.ts
  examples/01-simple-model/generated/classes.ts
  examples/02-complex-example/generated/classes.ts
  examples/03-one-to-many-relationship/generated/classes.ts
  examples/04-many-to-many-relationship/generated/classes.ts
  examples/05-migrations/generated/classes.ts
  examples/06-base-service/generated/classes.ts
  examples/07-feature-flags/generated/classes.ts
  examples/08-performance/generated/classes.ts
  examples/09-production/generated/classes.ts
  examples/10-subscriptions/generated/classes.ts
  examples/11-transactions/generated/classes.ts
  src/schema/SchemaGenerator.ts
  src/test/generated/classes.ts
Due: eslint --fix, prettier --write

fix(codegen): fix prettier in generated classes.ts (#410)
  examples/01-simple-model/generated/classes.ts
  examples/02-complex-example/generated/classes.ts
  examples/03-one-to-many-relationship/generated/classes.ts
  examples/04-many-to-many-relationship/generated/classes.ts
  examples/05-migrations/generated/classes.ts
  examples/06-base-service/generated/classes.ts
  examples/07-feature-flags/generated/classes.ts
  examples/08-performance/generated/classes.ts
  examples/09-production/generated/classes.ts
  examples/10-subscriptions/generated/classes.ts
  examples/11-transactions/generated/classes.ts
  src/schema/SchemaGenerator.ts
  src/test/generated/classes.ts
Due: eslint --fix, prettier --write

adding more tests... so close
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
Due: eslint --fix, prettier --write

feat(relay): more tests
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/core/tests/entity/MyBase.model.ts
Due: eslint --fix, prettier --write

fix(tests): fix broken server test
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/test/functional/server.test.ts
Due: eslint --fix, prettier --write

feat(relay): more tests
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/core/RelayService.ts
  src/core/tests/entity/MyBase.model.ts
Due: eslint --fix, prettier --write

feat(relay): finished tests
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/core/GraphQLInfoService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/test/functional/cli.test.ts
  src/test/modules/dish/dish.resolver.ts
  src/test/setupFiles.ts
  tsconfig.test.json
Due: eslint --fix, prettier --write

feat(relay): finish tests
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/core/RelayService.ts
  src/decorators/Fields.ts
  src/test/functional/cli.test.ts
  src/test/functional/server.test.ts
  src/test/modules/dish/dish.resolver.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --write

feat(relay): update connection pattern to conform to relay (#408)
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  package.json
  src/core/BaseModel.ts
  src/core/BaseService.test.ts
  src/core/BaseService.ts
  src/core/GraphQLInfoService.ts
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/core/encoding.ts
  src/core/index.ts
  src/core/tests/entity/MyBase.model.ts
  src/decorators/Fields.ts
  src/decorators/debug.ts
  src/decorators/index.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/__snapshots__/server.test.ts.snap
  src/test/functional/cli.test.ts
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/schema.graphql
  src/test/modules/dish/dish.resolver.ts
  src/test/setupFiles.ts
  src/test/setupFilesAfterEnv.ts
  src/tgql/PageInfo.ts
  src/utils/decoratorComposer.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --write

feat(decorators): adds endpoint decorators
  src/decorators/ConnectionQuery.ts
  src/decorators/CreateManyMutation.ts
  src/decorators/CreateMutation.ts
  src/decorators/DeleteMutation.ts
  src/decorators/FindOneQuery.ts
  src/decorators/ListQuery.ts
  src/decorators/UpdateMutation.ts
Due: eslint --fix, prettier --write

wip
  bin/warthog
  examples/14-base-service-v2/.env
  examples/14-base-service-v2/generated/binding.ts
  examples/14-base-service-v2/generated/classes.ts
  examples/14-base-service-v2/generated/schema.graphql
  examples/14-base-service-v2/src/user.model.ts
  examples/14-base-service-v2/src/user.resolver.ts
  src/core/CodeGenerator.ts
  src/decorators/ConnectionQuery.ts
  src/decorators/FindOneQuery.ts
  src/decorators/index.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
Due: eslint --fix, prettier --write

Updating the docs.
  README.md
Due: markdownlint

Updating the docs. (#413)
  README.md
Due: markdownlint

feat(config): allow WARTHOG_DB_URL to set all DB config
  examples/02-complex-example/.env
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.resolver.ts
  examples/02-complex-example/src/modules/user/user.service.ts
  src/core/config.test.ts
  src/core/config.ts
Due: eslint --fix, prettier --write

feat(config): allow WARTHOG_DB_URL to set all DB config (#419)
  examples/02-complex-example/.env
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.resolver.ts
  examples/02-complex-example/src/modules/user/user.service.ts
  src/core/config.test.ts
  src/core/config.ts
Due: eslint --fix, prettier --write

chore(example-09): fix production workflow
  examples/09-production/.env
  examples/09-production/env.yml
  examples/09-production/generated/binding.ts
  examples/09-production/generated/classes.ts
  examples/09-production/generated/schema.graphql
  examples/09-production/nodemon.json
  examples/09-production/package.json
  examples/09-production/src/models.ts
  examples/09-production/src/modules/post/post.model.ts
  examples/09-production/src/modules/post/post.resolver.ts
  examples/09-production/src/modules/post/post.service.ts
  examples/09-production/src/modules/user/user.model.ts
  examples/09-production/src/modules/user/user.resolver.ts
  examples/09-production/tools/scripts/build.sh
  examples/09-production/tsconfig.json
  examples/09-production/yarn.lock
Due: eslint --fix, prettier --write

Fix Production example (#421)
  README.md
  examples/09-production/.env
  examples/09-production/env.yml
  examples/09-production/generated/binding.ts
  examples/09-production/generated/classes.ts
  examples/09-production/generated/schema.graphql
  examples/09-production/nodemon.json
  examples/09-production/package.json
  examples/09-production/src/models.ts
  examples/09-production/src/modules/post/post.model.ts
  examples/09-production/src/modules/post/post.resolver.ts
  examples/09-production/src/modules/post/post.service.ts
  examples/09-production/src/modules/user/user.model.ts
  examples/09-production/src/modules/user/user.resolver.ts
  examples/09-production/tools/scripts/build.sh
  examples/09-production/tsconfig.json
  examples/09-production/yarn.lock
Due: eslint --fix, prettier --write, markdownlint

fix(relay): fix issue with empty record sets
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/core/config.ts
Due: eslint --fix, prettier --write

fix(relay): fix issue with empty record sets (#423)
  src/core/RelayService.test.ts
  src/core/RelayService.ts
  src/core/config.ts
Due: eslint --fix, prettier --write

feat(replication): adds read replica functionality
  examples/12-replica-db-connection/.env
  examples/12-replica-db-connection/generated/binding.ts
  examples/12-replica-db-connection/generated/schema.graphql
  examples/12-replica-db-connection/src/server.ts
  examples/12-replica-db-connection/src/user.resolver.ts
  examples/12-replica-db-connection/src/user.service.ts
  src/core/BaseService.ts
  src/core/server.test.ts
  src/core/server.ts
  src/test/functional/server.test.ts
  src/test/server-vars.ts
  src/test/test-server.ts
  src/torm/createConnection.ts
  yarn.lock
Due: eslint --fix, prettier --write

add PubSub option to ServerOptions to allow custom PubSub engines (#422)
  src/core/server.ts
Due: eslint --fix, prettier --write

feat(decorators): honor flags in CustomField decorator
  examples/01-simple-model/generated/binding.ts
  examples/01-simple-model/generated/schema.graphql
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/03-one-to-many-relationship/generated/binding.ts
  examples/03-one-to-many-relationship/generated/schema.graphql
  examples/04-many-to-many-relationship/generated/binding.ts
  examples/04-many-to-many-relationship/generated/schema.graphql
  examples/05-migrations/generated/binding.ts
  examples/05-migrations/generated/schema.graphql
  examples/06-base-service/generated/binding.ts
  examples/06-base-service/generated/schema.graphql
  examples/07-feature-flags/generated/binding.ts
  examples/07-feature-flags/generated/schema.graphql
  examples/08-performance/generated/binding.ts
  examples/08-performance/generated/schema.graphql
  examples/09-production/generated/binding.ts
  examples/09-production/generated/schema.graphql
  examples/10-subscriptions/generated/binding.ts
  examples/10-subscriptions/generated/schema.graphql
  examples/11-transactions/generated/binding.ts
  examples/11-transactions/generated/schema.graphql
  src/decorators/CustomField.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
Due: eslint --fix, prettier --write

fix(test): add back accidentally removed lines
  src/test/functional/server.test.ts
Due: eslint --fix, prettier --write

feat(decorators): honor flags in CustomField decorator (#428)
  examples/01-simple-model/generated/binding.ts
  examples/01-simple-model/generated/schema.graphql
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/03-one-to-many-relationship/generated/binding.ts
  examples/03-one-to-many-relationship/generated/schema.graphql
  examples/04-many-to-many-relationship/generated/binding.ts
  examples/04-many-to-many-relationship/generated/schema.graphql
  examples/05-migrations/generated/binding.ts
  examples/05-migrations/generated/schema.graphql
  examples/06-base-service/generated/binding.ts
  examples/06-base-service/generated/schema.graphql
  examples/07-feature-flags/generated/binding.ts
  examples/07-feature-flags/generated/schema.graphql
  examples/08-performance/generated/binding.ts
  examples/08-performance/generated/schema.graphql
  examples/09-production/generated/binding.ts
  examples/09-production/generated/schema.graphql
  examples/10-subscriptions/generated/binding.ts
  examples/10-subscriptions/generated/schema.graphql
  examples/11-transactions/generated/binding.ts
  examples/11-transactions/generated/schema.graphql
  src/decorators/CustomField.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
Due: eslint --fix, prettier --write

Stashing all my changes
  examples/12-replica-db-connection/.env
  examples/12-replica-db-connection/README.md
  examples/12-replica-db-connection/generated/binding.ts
  examples/12-replica-db-connection/generated/classes.ts
  examples/12-replica-db-connection/generated/index.ts
  examples/12-replica-db-connection/generated/ormconfig.ts
  examples/12-replica-db-connection/generated/schema.graphql
  examples/12-replica-db-connection/package.json
  examples/12-replica-db-connection/src/index.ts
  examples/12-replica-db-connection/src/server.ts
  examples/12-replica-db-connection/src/user.model.ts
  examples/12-replica-db-connection/src/user.resolver.ts
  examples/12-replica-db-connection/src/user.service.ts
  examples/12-replica-db-connection/tools/seed.ts
  examples/12-replica-db-connection/tsconfig.json
  examples/12-replica-db-connection/warthog.config.js
  examples/12-replica-db-connection/yarn.lock
  package.json
  src/core/BaseService.ts
  src/core/server.test.ts
  src/core/server.ts
  src/test/functional/__snapshots__/server.test.ts.snap
  src/test/functional/server.test.ts
  src/test/modules/dish/dish.resolver.ts
  src/test/modules/kitchen-sink/kitchen-sink.resolver.ts
  src/test/server-vars.ts
  src/test/setupFiles.ts
  src/test/test-server.ts
  src/tgql/BaseResolver.ts
  src/torm/createConnection.ts
  yarn.lock
Due: eslint --fix, prettier --write, markdownlint

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
  markdownlint: any of: *.md
