Repository goldcaddy77/warthog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

chore(timeouts): adds comment and docs around timeouts
  README.md
Due: markdownlint

feat(cli): new command always pulls latest deps
  bin/warthog
  package.json
  src/cli/commands/new.ts
  src/cli/extensions/config-extension.ts
  src/cli/templates/new/_env.ejs
  src/cli/templates/new/_gitignore.ejs
  src/cli/templates/new/env.yml.ejs
  src/cli/templates/new/package.json.ejs
  src/core/BaseService.ts
  src/test/functional/cli.test.ts
  src/test/server-vars.ts
  tools/test.sh
  tsconfig.json
  tsconfig.test.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(cli): new command always pulls latest deps (#381)
  bin/warthog
  package.json
  src/cli/commands/new.ts
  src/cli/extensions/config-extension.ts
  src/cli/templates/new/_env.ejs
  src/cli/templates/new/_gitignore.ejs
  src/cli/templates/new/env.yml.ejs
  src/cli/templates/new/package.json.ejs
  src/core/BaseService.ts
  src/test/functional/cli.test.ts
  src/test/server-vars.ts
  tools/test.sh
  tsconfig.json
  tsconfig.test.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(cli): fix issue with paths
  bin/warthog
  package.json
  src/cli/commands/new.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(cli): fix issue with paths (#383)
  bin/warthog
  package.json
  src/cli/commands/new.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(cli): fixes to new command
  package.json
Due: prettier --write

fix(cli): fixes to new command (#384)
  package.json
Due: prettier --write

fix(cli): copy files all the way down
  package.json
  src/cli/templates/new/package.json.ejs
  yarn.lock
Due: prettier --write

fix(cli): copy files all the way down (#385)
  package.json
  src/cli/templates/new/package.json.ejs
  yarn.lock
Due: prettier --write

fix(cli): adds templates/new/src folder again
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

fix(cli): adds templates/new/src folder again (#386)
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

feat(relay): adds relay example
  examples/12-relay-connection/.env
  examples/12-relay-connection/README.md
  examples/12-relay-connection/examples.gql
  examples/12-relay-connection/generated/binding.ts
  examples/12-relay-connection/generated/classes.ts
  examples/12-relay-connection/generated/index.ts
  examples/12-relay-connection/generated/ormconfig.ts
  examples/12-relay-connection/generated/schema.graphql
  examples/12-relay-connection/package.json
  examples/12-relay-connection/src/index.ts
  examples/12-relay-connection/src/server.ts
  examples/12-relay-connection/src/user.model.ts
  examples/12-relay-connection/src/user.resolver.ts
  examples/12-relay-connection/src/user.service.ts
  examples/12-relay-connection/src/user.test.ts
  examples/12-relay-connection/tools/seed.ts
  examples/12-relay-connection/tsconfig.json
  examples/12-relay-connection/warthog.config.js
  examples/12-relay-connection/yarn.lock
Due: eslint --fix, prettier --write, markdownlint

feat(decorators): add DateOnly and DateTime
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  examples/02-complex-example/tools/seed.ts
  package.json
  src/core/server.ts
  src/core/types.ts
  src/decorators/DateOnlyField.ts
  src/decorators/DateTimeField.ts
  src/decorators/index.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
  src/schema/TypeORMConverter.ts
  src/schema/type-conversion.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(decorators): add DateOnly and DateTime (#393)
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  examples/02-complex-example/tools/seed.ts
  package.json
  src/core/server.ts
  src/core/types.ts
  src/decorators/DateOnlyField.ts
  src/decorators/DateTimeField.ts
  src/decorators/index.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
  src/schema/TypeORMConverter.ts
  src/schema/type-conversion.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(filter): allow specific filters by field
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  src/decorators/BooleanField.ts
  src/decorators/DateField.ts
  src/decorators/DateOnlyField.ts
  src/decorators/DateTimeField.ts
  src/decorators/EmailField.ts
  src/decorators/EnumField.ts
  src/decorators/FloatField.ts
  src/decorators/IdField.ts
  src/decorators/IntField.ts
  src/decorators/NumericField.ts
  src/decorators/StringField.ts
  src/metadata/metadata-storage.ts
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  src/torm/operators.ts
Due: eslint --fix, prettier --write

feat(filter): allow specific filters by field (#395)
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  src/decorators/BooleanField.ts
  src/decorators/DateField.ts
  src/decorators/DateOnlyField.ts
  src/decorators/DateTimeField.ts
  src/decorators/EmailField.ts
  src/decorators/EnumField.ts
  src/decorators/FloatField.ts
  src/decorators/IdField.ts
  src/decorators/IntField.ts
  src/decorators/NumericField.ts
  src/decorators/StringField.ts
  src/metadata/metadata-storage.ts
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  src/torm/operators.ts
Due: eslint --fix, prettier --write

fix(model): model decorator API bug
  src/decorators/Model.ts
Due: eslint --fix, prettier --write

chore(examples): codegen on examples
  examples/01-simple-model/generated/classes.ts
  examples/03-one-to-many-relationship/generated/classes.ts
  examples/04-many-to-many-relationship/generated/classes.ts
  examples/05-migrations/generated/classes.ts
  examples/06-base-service/generated/classes.ts
  examples/07-feature-flags/generated/classes.ts
  examples/08-performance/generated/classes.ts
  examples/09-production/generated/classes.ts
  examples/10-subscriptions/generated/classes.ts
  examples/11-transactions/generated/classes.ts
Due: eslint --fix, prettier --write

fix(model): model decorator API bug (#397)
  src/decorators/Model.ts
Due: eslint --fix, prettier --write

fix(model): model decorator API bug
  src/decorators/Model.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/db-only/db-only.model.ts
Due: eslint --fix, prettier --write

fix(model): model decorator API bug (#399)
  src/decorators/Model.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/db-only/db-only.model.ts
Due: eslint --fix, prettier --write

fix(model): model decorator API bug 3
  src/decorators/Model.ts
Due: eslint --fix, prettier --write

fix(model): model decorator API bug 3 (#400)
  src/decorators/Model.ts
Due: eslint --fix, prettier --write

chore(debug): remove debug log line
  src/core/config.ts
Due: eslint --fix, prettier --write

chore(debug): remove debug log line (#401)
  src/core/config.ts
Due: eslint --fix, prettier --write

feat(postgres): add support for Postgres 12 (#377)
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

chore(examples): codegen on examples (#398)
  examples/01-simple-model/generated/classes.ts
  examples/03-one-to-many-relationship/generated/classes.ts
  examples/04-many-to-many-relationship/generated/classes.ts
  examples/05-migrations/generated/classes.ts
  examples/06-base-service/generated/classes.ts
  examples/07-feature-flags/generated/classes.ts
  examples/08-performance/generated/classes.ts
  examples/09-production/generated/classes.ts
  examples/10-subscriptions/generated/classes.ts
  examples/11-transactions/generated/classes.ts
Due: eslint --fix, prettier --write

feat(types): adds array types
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  examples/02-complex-example/tools/seed.ts
  src/decorators/CustomField.ts
  src/decorators/IntField.ts
  src/decorators/StringField.ts
  src/decorators/getCombinedDecorator.ts
  src/metadata/metadata-storage.ts
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/fixtures.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  src/torm/operators.ts
Due: eslint --fix, prettier --write

feat(arrays): adds a bunch of tests
  package.json
  src/test/functional/__snapshots__/server.test.ts.snap
  src/test/functional/fixtures.ts
  src/test/functional/server.test.ts
  src/utils/decoratorComposer.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(tests): fix test issue
  src/core/BaseService.ts
  src/test/functional/__snapshots__/server.test.ts.snap
  tools/test.sh
Due: eslint --fix, prettier --write

feat(types): adds array types (#388)
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  examples/02-complex-example/tools/seed.ts
  package.json
  src/core/BaseService.ts
  src/decorators/CustomField.ts
  src/decorators/IntField.ts
  src/decorators/StringField.ts
  src/decorators/getCombinedDecorator.ts
  src/metadata/metadata-storage.ts
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/__snapshots__/server.test.ts.snap
  src/test/functional/fixtures.ts
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  src/torm/operators.ts
  src/utils/decoratorComposer.ts
  tools/test.sh
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(enums): allow enums to be used in multiple models
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/dish/dish.model.ts
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  src/test/modules/shared.ts
Due: eslint --fix, prettier --write

feat(enums): allow enums to be used in multiple models (#403)
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/dish/dish.model.ts
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  src/test/modules/shared.ts
Due: eslint --fix, prettier --write

feat(beta): create branch for beta v3
  package.json
  tsconfig.json
Due: prettier --write

feat(schema-generator): refactors schema generator
  examples/02-complex-example/generated/classes.ts
  src/cli/commands/codegen.ts
  src/core/code-generator.ts
  src/core/config.ts
  src/core/index.ts
  src/core/server.ts
  src/decorators/README.md
  src/decorators/debug.ts
  src/decorators/index.ts
  src/gql/binding.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaBuilder.ts
  src/schema/SchemaGenerator.ts
  src/schema/TypeORMConverter.ts
  src/schema/index.ts
  src/utils/file.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write, markdownlint

feat(schema): refactor schema generator
  src/schema/SchemaGenerator.ts
  src/test/generated/classes.ts
  src/test/server-vars.ts
Due: eslint --fix, prettier --write

feat(schema-generator): refactors schema generator (#405)
  examples/02-complex-example/generated/classes.ts
  src/cli/commands/codegen.ts
  src/core/code-generator.ts
  src/core/config.ts
  src/core/index.ts
  src/core/server.ts
  src/decorators/README.md
  src/decorators/debug.ts
  src/decorators/index.ts
  src/gql/binding.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaBuilder.ts
  src/schema/SchemaGenerator.ts
  src/schema/TypeORMConverter.ts
  src/schema/index.ts
  src/test/generated/classes.ts
  src/test/server-vars.ts
  src/utils/file.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write, markdownlint

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
  markdownlint: any of: *.md
