Repository goldcaddy77/warthog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

feat(replication): adds read replica functionality
  examples/12-replica-db-connection/.env
  examples/12-replica-db-connection/generated/binding.ts
  examples/12-replica-db-connection/generated/schema.graphql
  examples/12-replica-db-connection/src/server.ts
  examples/12-replica-db-connection/src/user.resolver.ts
  examples/12-replica-db-connection/src/user.service.ts
  src/core/BaseService.ts
  src/core/server.test.ts
  src/core/server.ts
  src/test/functional/server.test.ts
  src/test/server-vars.ts
  src/test/test-server.ts
  src/torm/createConnection.ts
  yarn.lock
Due: eslint --fix, prettier --write

add PubSub option to ServerOptions to allow custom PubSub engines (#422) (#427)
  src/core/server.ts
Due: eslint --fix, prettier --write

fix(base-service): filter out deleted items on delete
  src/core/BaseService.ts
Due: eslint --fix, prettier --write

chore(database): adds database service class
  src/core/BaseService.test.ts
  src/core/CodeGenerator.ts
  src/core/server.ts
  src/test/functional/cli.test.ts
  src/test/generated/ormconfig.ts
  src/torm/EverythingSubscriber.ts.bak
  src/torm/createConnection.ts
  src/torm/database.service.ts
  src/torm/index.ts
  src/torm/types.ts
Due: eslint --fix, prettier --write

chore(database): adds database service class (#435)
  src/core/BaseService.test.ts
  src/core/CodeGenerator.ts
  src/core/server.ts
  src/test/functional/cli.test.ts
  src/test/generated/ormconfig.ts
  src/torm/EverythingSubscriber.ts.bak
  src/torm/createConnection.ts
  src/torm/database.service.ts
  src/torm/index.ts
  src/torm/types.ts
Due: eslint --fix, prettier --write

feat(base-model): adds base model that supports inheritance
  README.md
  examples/14-base-service-v2/generated/binding.ts
  examples/14-base-service-v2/generated/classes.ts
  examples/14-base-service-v2/generated/ormconfig.ts
  examples/14-base-service-v2/generated/schema.graphql
  examples/14-base-service-v2/src/user.model.ts
  src/core/BaseModel.ts
  src/core/BaseService.ts
  src/decorators/CreatedAtField.ts
  src/decorators/EnumField.ts
  src/decorators/UpdatedAtField.ts
  src/decorators/WarthogField.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaBuilder.ts
  src/schema/SchemaGenerator.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/cli.test.ts
  src/test/generated/binding.ts
  src/test/generated/schema.graphql
  src/test/setupFilesAfterEnv.ts
Due: eslint --fix, prettier --write, markdownlint

feat(base-model): adds base model that supports inheritance (#437)
  README.md
  examples/14-base-service-v2/generated/binding.ts
  examples/14-base-service-v2/generated/classes.ts
  examples/14-base-service-v2/generated/ormconfig.ts
  examples/14-base-service-v2/generated/schema.graphql
  examples/14-base-service-v2/src/user.model.ts
  src/core/BaseModel.ts
  src/core/BaseService.ts
  src/decorators/CreatedAtField.ts
  src/decorators/EnumField.ts
  src/decorators/UpdatedAtField.ts
  src/decorators/WarthogField.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaBuilder.ts
  src/schema/SchemaGenerator.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/cli.test.ts
  src/test/generated/binding.ts
  src/test/generated/schema.graphql
  src/test/setupFilesAfterEnv.ts
Due: eslint --fix, prettier --write, markdownlint

fix(base-service): filter out deleted items on delete (#433)
  src/core/BaseService.ts
Due: eslint --fix, prettier --write

feat(decorators): allow concrete type on JSONField
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
  examples/02-complex-example/tools/seed.ts
  src/decorators/JSONField.ts
  src/decorators/ObjectType.ts
  src/decorators/index.ts
  src/metadata/metadata-storage.ts
  src/schema/TypeORMConverter.ts
  src/schema/type-conversion.ts
Due: eslint --fix, prettier --write

wip
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/modules/user/user.model.ts
Due: eslint --fix, prettier --write

feat(primary-id-field): add default filters
  src/decorators/PrimaryIdField.ts
Due: eslint --fix, prettier --write

feat(config): add production defaults
  src/core/config.ts
Due: eslint --fix, prettier --write

feat(config): add production defaults
  package.json
  src/decorators/EnumField.ts
  src/middleware/DataLoaderMiddleware.ts
  src/test/codegen-test-files.sh
  src/test/functional/server.test.ts
  src/test/server-vars.ts
Due: eslint --fix, prettier --write

feat(v3): Warthog V3
  README.md
Due: markdownlint

feat(pg): updates to latest version
  package.json
  yarn.lock
Due: prettier --write

feat(ownerid): adds ownerid decorator
  examples/01-simple-model/package.json
  examples/03-one-to-many-relationship/package.json
  examples/04-many-to-many-relationship/package.json
  examples/05-migrations/package.json
  examples/06-base-service/package.json
  examples/07-feature-flags/package.json
  examples/08-performance/package.json
  examples/09-production/package.json
  examples/10-subscriptions/package.json
  examples/11-transactions/package.json
  examples/14-base-service-v2/package.json
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  tools/test.sh
Due: eslint --fix, prettier --write

feat(ownerid): adds ownerid decorator
  examples/01-simple-model/.env
  examples/01-simple-model/generated/binding.ts
  examples/01-simple-model/generated/classes.ts
  examples/01-simple-model/generated/schema.graphql
  examples/03-one-to-many-relationship/.env
  examples/03-one-to-many-relationship/generated/binding.ts
  examples/03-one-to-many-relationship/generated/classes.ts
  examples/03-one-to-many-relationship/generated/schema.graphql
  examples/04-many-to-many-relationship/.env
  examples/04-many-to-many-relationship/generated/binding.ts
  examples/04-many-to-many-relationship/generated/classes.ts
  examples/04-many-to-many-relationship/generated/schema.graphql
  examples/05-migrations/.env
  examples/05-migrations/generated/binding.ts
  examples/05-migrations/generated/classes.ts
  examples/05-migrations/generated/schema.graphql
  examples/06-base-service/.env
  examples/06-base-service/generated/binding.ts
  examples/06-base-service/generated/classes.ts
  examples/06-base-service/generated/schema.graphql
  examples/07-feature-flags/.env
  examples/07-feature-flags/generated/binding.ts
  examples/07-feature-flags/generated/classes.ts
  examples/07-feature-flags/generated/schema.graphql
  examples/08-performance/.env
  examples/08-performance/generated/binding.ts
  examples/08-performance/generated/classes.ts
  examples/08-performance/generated/schema.graphql
  examples/09-production/.env
  examples/09-production/generated/classes.ts
  examples/10-subscriptions/.env
  examples/11-transactions/.env
Due: eslint --fix, prettier --write

feat(ownerid): adds ownerid decorator
  README.md
  src/cli/commands/codegen.ts
  src/core/server.test.ts
  src/core/server.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
  src/test/base-model/generated/classes.ts
  src/test/base-model/generated/schema.graphql
  src/test/base-model/my-base-model.test.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/schema.graphql
Due: eslint --fix, prettier --write, markdownlint

feat(ownerid): adds ownerid decorator
  src/core/BaseService.ts
  src/core/server.ts
  src/schema/SchemaGenerator.ts
  src/test/base-model/generated/schema.graphql
  src/test/base-model/my-base-model.resolver.ts
  src/test/base-model/my-base-model.test.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/generated/schema.graphql
  src/test/setupFiles.ts
  tools/test.sh
Due: eslint --fix, prettier --write

feat(connection): bring your own DB connection
  README.md
  src/core/server.test.ts
  src/core/server.ts
Due: eslint --fix, prettier --write, markdownlint

feat(text-field): adds TextField decorator
  examples/02-complex-example/src/modules/user/user.model.ts
  src/decorators/TextField.ts
  src/decorators/index.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
  src/schema/type-conversion.ts
  src/test/codegen-test-files.sh
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/fixtures.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
Due: eslint --fix, prettier --write

feat(text-field): adds TextField decorator (#460)
  examples/02-complex-example/src/modules/user/user.model.ts
  src/decorators/TextField.ts
  src/decorators/index.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
  src/schema/type-conversion.ts
  src/test/codegen-test-files.sh
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/fixtures.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
Due: eslint --fix, prettier --write

fix(text-field): fixes TextField decorator
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  src/decorators/TextField.ts
Due: eslint --fix, prettier --write

fix(text-field): fixes TextField decorator (#461)
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  src/decorators/TextField.ts
Due: eslint --fix, prettier --write

feat(datetime): use timestamptz for datetimes
  src/decorators/CreatedAtField.ts
  src/decorators/DateField.ts
  src/decorators/DateTimeField.ts
  src/decorators/UpdatedAtField.ts
Due: eslint --fix, prettier --write

feat(datetime): use timestamptz for datetimes (#463)
  src/decorators/CreatedAtField.ts
  src/decorators/DateField.ts
  src/decorators/DateTimeField.ts
  src/decorators/UpdatedAtField.ts
Due: eslint --fix, prettier --write

fix(jsonfield): Fixes JSON field filtering
  examples/02-complex-example/examples.gql
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/index.test.ts
  examples/02-complex-example/src/modules/post/post.model.ts
  examples/02-complex-example/src/modules/user/user.model.ts
  examples/02-complex-example/src/modules/user/user.resolver.ts
  examples/02-complex-example/tools/seed.ts
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/decorators/Fields.ts
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/__snapshots__/server.test.ts.snap
  src/test/functional/fixtures.ts
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  src/test/modules/kitchen-sink/kitchen-sink.resolver.ts
Due: eslint --fix, prettier --write

fix(node): upgrade typeorm to support node 14+
  .nvmrc
  package.json
  src/core/BaseService.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(node): upgrade typeorm to support node 14+ (#468)
  .nvmrc
  package.json
  src/core/BaseService.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(jsonfield): Fixes JSON field filtering (#467)
  examples/02-complex-example/examples.gql
  examples/02-complex-example/generated/binding.ts
  examples/02-complex-example/generated/classes.ts
  examples/02-complex-example/generated/schema.graphql
  examples/02-complex-example/src/index.test.ts
  examples/02-complex-example/src/modules/post/post.model.ts
  examples/02-complex-example/src/modules/user/user.model.ts
  examples/02-complex-example/src/modules/user/user.resolver.ts
  examples/02-complex-example/tools/seed.ts
  src/core/BaseService.ts
  src/core/RelayService.test.ts
  src/decorators/Fields.ts
  src/schema/TypeORMConverter.ts
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/__snapshots__/server.test.ts.snap
  src/test/functional/fixtures.ts
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/test/modules/kitchen-sink/kitchen-sink.model.ts
  src/test/modules/kitchen-sink/kitchen-sink.resolver.ts
Due: eslint --fix, prettier --write

feat(actions): adds github actions
  .github/workflows/test.yml
Due: none

feat(geopoint): adds geopoint decorator
  examples/15-postgis/.env
  examples/15-postgis/.nvmrc
  examples/15-postgis/README.md
  examples/15-postgis/generated/binding.ts
  examples/15-postgis/generated/classes.ts
  examples/15-postgis/generated/index.ts
  examples/15-postgis/generated/ormconfig.ts
  examples/15-postgis/generated/schema.graphql
  examples/15-postgis/nodemon.json
  examples/15-postgis/package.json
  examples/15-postgis/src/index.test.ts
  examples/15-postgis/src/index.ts
  examples/15-postgis/src/logger.ts
  examples/15-postgis/src/modules/user/user.model.ts
  examples/15-postgis/src/modules/user/user.resolver.ts
  examples/15-postgis/src/modules/user/user.service.ts
  examples/15-postgis/src/server.ts
  examples/15-postgis/tools/seed.ts
  examples/15-postgis/tsconfig.json
  examples/15-postgis/warthog.config.js
  examples/15-postgis/yarn.lock
Due: eslint --fix, prettier --write, markdownlint

adds the decorator and some tests
  examples/15-postgis/generated/binding.ts
  examples/15-postgis/generated/classes.ts
  examples/15-postgis/generated/schema.graphql
  examples/15-postgis/src/index.test.ts
  examples/15-postgis/src/modules/user/user.model.ts
  src/decorators/GeoPoint.ts
  src/decorators/index.ts
Due: eslint --fix, prettier --write

finish adding types and querying
  .gitignore
  examples/15-postgis/.env
  examples/15-postgis/generated/binding.ts
  examples/15-postgis/generated/classes.ts
  examples/15-postgis/generated/schema.graphql
  examples/15-postgis/src/index.test.ts
  examples/15-postgis/src/modules/user/user.model.ts
  examples/15-postgis/src/modules/user/user.resolver.ts
  src/core/BaseService.ts
  src/decorators/GeoPoint.ts
  src/metadata/metadata-storage.ts
  src/schema/SchemaGenerator.ts
  src/schema/type-conversion.ts
  src/test/base-model/generated/classes.ts
  src/test/base-model/generated/schema.graphql
  src/test/functional/__snapshots__/schema.test.ts.snap
  src/test/functional/server.test.ts
  src/test/generated/binding.ts
  src/test/generated/classes.ts
  src/test/generated/schema.graphql
  src/tgql/LatLng.ts
  src/tgql/index.ts
Due: eslint --fix, prettier --write

add a test
  examples/15-postgis/README.md
  src/test/postgis/generated/classes.ts
  src/test/postgis/generated/index.ts
  src/test/postgis/generated/ormconfig.ts
  src/test/postgis/postgis.model.ts
  src/test/postgis/postgis.test.ts
Due: eslint --fix, prettier --write, markdownlint

feat(geopoint): more updates
  src/cli/extensions/db-extension.ts
  src/decorators/GeoPoint.ts
  src/torm/operators.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
  markdownlint: any of: *.md
